extends head

block content
    div(class="header")
        div(class="pure-menu pure-menu-fixed pure-menu-horizontal")
            div(class="pure-menu-heading") MineTime
            ul(class="pure-menu-list")
                li(class="pure-menu-item")
                    a(class="pure-menu-link" href="/login") Sign IN
                li(class="pure-menu-item")
                    a(class="pure-menu-link" href="/signup") Sign UP

    h1 Hello There