doctype html
html
    head
        link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
        title MineTime - Login
    body
        h1 Log in to MineTime
        form(class="pure-form pure-form-stacked" method="post")
            legend Log in to the great MineTime

            label(for="email") Email
            input(type="text" id="email" name="username" value=user.email class="pure-input-rounded")

            label(for="password") Password
            input(type="password" id="password" name="password" value=user.password class="pure-input-rounded")

            button.pure-button Submit